<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

		<title>Propeller Basic HTML Template</title>

		<!-- Bootstrap css-->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	 
		<!--Google Icon Font-->
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" >
		
		<!-- Propeller css -->
		<link href="/scripts/propellerkit/dist/css/propeller.min.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="/scripts/propellerkit/components/icons/css/google-icons.css">

		<link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css" />
		<link rel="stylesheet" type="text/css" href="/public/sass/stylesheets/propellerPage.css">

		<link rel="shortcut icon" type="image/png" href="favicon.ico"/>
	</head>
	
	<body>

		<!--NAVBAR -->
		<nav class="navbar navbar-inverse pmd-navbar navbar-fixed-top pmd-z-depth">
			<div class="container-fluid">

				<div class="navbar-header">
					<a href="javascript:void(0);" title="Menu" 
					 class="btn btn-sm pmd-btn-fab pmd-btn-flat pmd-ripple-effect pull-left margin-r8 pmd-sidebar-toggle navbar-toggle"
					 data-target="navigation-sidebar">
						<i class="material-icons md-light">menu</i>
					</a>

					<a href="./" class="navbar-brand navbar-brand-custome pmd-ripple-effect">
						Live Bus Transit
					</a>
				</div>

				<div id="main-nav-collapse" class="collapse navbar-collapse pmd-navbar-sidebar-left-fixed">
					<ul class="nav navbar-nav navbar-right">
						<li>
							<a href="../" class="pmd-ripple-effect">Log in</a>
						</li>
						
					</ul>
				</div>
				
			</div>
		</nav>

		<section id="pmd-main">
	        <!-- Left sidebar -->
	        <aside 
	        	id = "navigation-sidebar"
	         	class="pmd-sidebar sidebar-default pmd-sidebar-left-fixed pmd-sidebar-left pmd-z-depth"
	         	role="navigation"
	         >
	            <ul class="nav pmd-sidebar-nav">
	                <!-- My Account -->
	                <li class="dropdown pmd-dropdown pmd-user-info">
	                	<!--
	                    <a aria-expanded="false" data-toggle="dropdown" data-sidebar="true" class="btn-user dropdown-toggle media" href="javascript:void(0);">
	                        <div class="media-left">
	                            <img width="40" height="40" alt="avatar" src="http://propeller.in/assets/images/avatar-icon-40x40.png">
	                        </div>
	                        <div class="media-body media-middle">D,Material Admin</div>
	                        <div class="media-right media-middle"><i class="material-icons pmd-sm">more_vert</i></div>
	                    </a>

	                    <ul class="dropdown-menu">
	                        <li> <a class="pmd-ripple-effect" href="javascript:void(0);" tabindex="-1"><i class="material-icons media-left media-middle">person</i> <span class="media-body">View Profile</span></a></li>
	                        <li> <a class="pmd-ripple-effect" href="javascript:void(0);" tabindex="-1"><i class="material-icons media-left media-middle">settings</i> <span class="media-body">Settings</span></a></li>
	                        <li> <a class="pmd-ripple-effect" href="javascript:void(0);" tabindex="-1"><i class="material-icons media-left media-middle">history</i> <span class="media-body">Logout</span></a></li>
	                    </ul>
						-->
	                </li>

	                <li>
	                	<a class="pmd-ripple-effect" href="javascript:void(0);">
	                		<i class="material-icons media-left media-middle">input</i>
	                		<span class="media-body">Log in</span>
	                	</a>
	                </li>

	                <li>
	                	<a class="pmd-ripple-effect" href="javascript:void(0);">
	                		<i class="material-icons media-left media-middle">near_me</i>
	                		<span class="media-body">Set up route</span>
	                	</a>
	                </li>
	            </ul>
	        </aside>
    		
    		<div id="map"></div>
    		<div class="pmd-sidebar-overlay"></div>
    		<div id="react-root"></div>
	        <!-- Start Content -->
	        <!--
	        <div class="pmd-content custom-pmd-content" id="content">
	            <h2 class="headline">Sidebar Constructor</h2>
	            <p>This structure shows a permanent app bar with a floating action button. The app bar absorbs elements from the tablet and mobile bottom bars.</p>
	            <p style="margin-bottom:0;">An optional bottom bar can be added for additional functionality or action overflow. A side nav overlays all other structural elements. A right nav menu can be accessed temporarily or pinned for permanent display.</p>

	            <div class="row">
	            	<div class="col-xs-12 col-sm-4 text-center">
	            		<p>
	            			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed maximus orci nisi, eu volutpat dolor pretium sit amet. Donec ullamcorper elit nunc, eget imperdiet enim hendrerit eget. Proin luctus at elit et semper. Sed hendrerit purus vitae ipsum rutrum accumsan. Cras sodales eget lorem volutpat viverra. 
	            		</p>
	            	</div>

	            	<div class="col-xs-12 col-sm-4 text-center">
	            		<p>
	            			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed maximus orci nisi, eu volutpat dolor pretium sit amet. Donec ullamcorper elit nunc, eget imperdiet enim hendrerit eget. Proin luctus at elit et semper. Sed hendrerit purus vitae ipsum rutrum accumsan. Cras sodales eget lorem volutpat viverra. 
	            		</p>
	            	</div>

	            	<div class="col-xs-12 col-sm-4 text-center">
	            		<p>
	            			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed maximus orci nisi, eu volutpat dolor pretium sit amet. Donec ullamcorper elit nunc, eget imperdiet enim hendrerit eget. Proin luctus at elit et semper. Sed hendrerit purus vitae ipsum rutrum accumsan. Cras sodales eget lorem volutpat viverra. 
	            		</p>
	            	</div>

	            </div>
	        </div>
    	</section>
    	-->

		<!-- jQuery before Propeller.js -->
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	
		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="/scripts/propellerkit/dist/js/propeller.min.js"></script>

		<script type="text/javascript" src="/public/js/transformedApps/app1/indexAppTransformed.js"></script>

		<script>
		</script>

	</body>
</html>